*{
    font-family: 'Arvo', serif;
    box-sizing: border-box;
}
body{
    background-color: #bae8e8;
    display: grid;
    grid-template-columns:repeat(autofit,minmax(150px,1fr));
    gap:16px; 
    width:100vw;
    height:100vh;
}

#logo{
padding-top: 20px;
padding-bottom: 30px;
max-width: 30%;
height: auto;
}

#form{
    background-color: #fffffe;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 30px 50px 30px 50px;
    

    
}
#form #typeSelect{
    background-color: #fffffe;
    border: 2px solid #272343;
    color: #272343;
    padding-left: 1rem;
    margin-right: 20%;
    min-width: 10vw;
    min-height: 5.5vh;
    border-radius: 6px;
    font-size: 16px;
   
    
}
#form .btn-outline-primary{
    color: #c7007b;
    border: 1px solid #c7007b;
}
#form .btn-outline-primary:hover{
    background-color: #c7007b;
    color:#ffffff;
}

#form #input{
    background-color: #fffffe;
    min-width: 42vw;
    min-height:5.5vh;
    padding-left: 20px;
    border: 1px solid rgba(86,103,137,0.26);
    border-radius: 6px;
    font-size: 16px;
}

.title{
padding-top: 20px;
font-weight: bold;
font-size: 32px;
margin-bottom: 26px;
color:#272343;
}

/*#amiiboContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:90px;
    padding-top: 10px;
    padding-bottom: 15px;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
    border-radius: 20px;
}
*/

footer h5{
    position:fixed;
    left: 0;
    bottom: 0;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 16px;

}
#results{ 
    background-color: #fffffe;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
    border-radius: 20px;
}
#results img{
    width: 50%;
    height: 50%;
}

#results h2{
    color: #272343;
    font-size: 18px;
    font-weight: bold;
}
#results p{
    color:#272343;
    font-size: 16px;
}

@media (max-width: 950px) {
    #form {
      flex-direction: column;
    }
  }
