*{
    font-family: 'Arvo', serif;
    
}
body{
   background-color:#E9E2C7;
   min-height: 100vh; 
   min-width: 100vw;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#header {
    padding: 15px 20px;
}
.searchSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 20px;
}

.form-outline{
    display: flex;
    align-items: center;
    justify-content: center;

}
.filter .form-select{
    background-color: #fffae6;
    color: #8a7b66;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgba(86,103,137,0.18);
    border-radius: 8px;
    min-width: 10vw;
    min-height: 6vh;
    padding-left: 20px;

}

.form-control{
    background-color: #fffae6;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgba(86,103,137,0.18);
    border-radius: 8px;
    width: 50vw;
    height: 6vh;
}
#form1::placeholder{
    color: #8a7b66;
}
.btn{
    background-color: #FFB400;
    padding-top: 10px;
    margin-left: 8px;
    border:none;
    border-radius: 8px;
    min-width: 5vw;
    height: 6vh;
}


#footer{
    color: #8A7B66;
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    margin-left: 15px;
}